extends ../layout

include ../partials/login

block content

append scripts
    script.
        $(document).ready(function () {
            $('#dismissLoginModal').hide();
            $('#loginModal').modal({keyboard: false});
        });

