include ./imagemap

mixin gamestate(gamestate, rooms)
    .lead=gamestate.description
    if gamestate.imagemap
        .row.my-2
            .col.text-center
                +imagemap(gamestate.imagemap, rooms)
    if gamestate.allow_codes && gamestate.rooms.length
        .row.my-3
            .col
                form#code-form
                    .alert.alert-warning.col-md-8.offset-md-2#code-feedback(role='alert')
                    input.form-control.code-search.col-md-8.offset-md-2#code-entry(type="input", placeholder="Code")


mixin transition(transition, gamestates, player_groups)
    - const fromState = _.findWhere(gamestates, {id: transition.from_state_id});
    - const toState = _.findWhere(gamestates, {id: transition.to_state_id});
    .card
        .card-header #{fromState.name} -> #{toState.name}
        .card-body
            .row
                .col
                    strong Player Group
                .col
                    if transition.group_id
                        = _.findWhere(player_groups, {id: transition.group_id}).name
                    else
                        i All
            .row
                .col
                    strong Room
                .col
                    if transition.room_id
                        = _.findWhere(rooms, {id: transition.room_id}).name
                    else
                        i Manual
            .row
                .col
                    strong Delay
                .col #{transition.delay} seconds




