mixin login()
    .modal.fade#loginModal(role="dialog" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true")
        .modal-dialog.modal-dialog-centered(role="document")
            .modal-content
                .modal-header
                    h5.modal-title#loginModalLabel Log in to #{config.get('app.name')}
                    button.close#dismissLoginModal(type="button", data-dismiss="modal" area-label="Close")
                        span(aria-hidden="true") &times;
                .modal-body
                    p This site uses your email address to identify you.
                    if config.get('auth.intercode.clientID')
                        p You can use any offered authentication method regardless of what you have used previously. as long as your email remains the same.
                    p If your email changes, please contact the GMs of #{config.get('app.name')}
                .modal-footer
                    a.btn.btn-block.btn-lg.btn-primary(href="/auth/google")
                        i.fab.fa-google.float-left.my-2
                        | Log in with your Google Account
                        if config.get('auth.intercode.clientID')
                            a.btn.btn-block.btn-lg.btn-primary.mt-3(href="/auth/intercode")
                                img.img-fluid.float-left.my-2(src='/images/neilSquareWhite.png' width=18)
                                | Log in with your #{config.get('auth.intercode.eventName')} Account
