extends ../layout

include ../partials/editor

block content
    .row
        .col
            .card
                .card-header= 'Edit Trigger: ' + trigger.name
                .card-body
                    form.form.needs-validation(method="POST" action="/trigger/" + trigger.id novalidate)
                        input(type="hidden", name="_method",  value="PUT")
                        input(type="hidden", name='_csrf',value=csrfToken)
                        input(type="hidden", name='trigger[id]',value=trigger.id)
                        include ./_form.pug

append scripts
    script(src='/javascripts/validator.js')
    script(src='/javascripts/gameactions.js')
