extends ../layout
include ../partials/gameactions
include ../partials/triggerButton

block content
    .row.my-3
        .col
            h2 Trigger
                i.ml-2 #{trigger.name}


    if checkPermission('creator')
        a.btn.btn-outline-info.mr-2(role="button" href='/trigger/' + trigger.id + '/edit')
            i.fas.fa-edit
            |  Edit Trigger


    if trigger.description
        .row.my-3
            .col
                h4 Description
                p= trigger.description

    if trigger.icon && (trigger.run || trigger.player)
        .row.my-3
            .col
                h4 Buttons
                .row
                    if trigger.run
                        .col
                            span.mx-2 Execute on all players in a run:
                            span.mr-2
                                +triggerButton(trigger, 'none', true)
                    if trigger.player
                        .col
                            span.mx-2 Execute on one player:
                            span.mr-2
                                +triggerButton(trigger, 'none', false)


    .row.my-3
        .col
            h4 Actions
            +actionsCard(0, trigger)
