include ../partials/imagemap
.form-group
    label.control-label(for="imagemap_name") Name
    input.form-control(type="text",placeholder="Name",name="imagemap[name]",value=imagemap.name,id='imagemap_name',required)
    div.invalid-feedback Please choose a valid name

.form-group
    label.control-label(for="imagemap_image_id") Image
    select.custom-select.select2(name="imagemap[image_id]",id="imagemap_image_id")
        for image in images
            option(value=image.id selected=imagemap.image_id===image.id)= image.name
.form-group
    .custom-control.custom-switch
        input.custom-control-input(type="checkbox", name="imagemap[template]", id="imagemap_template", checked=imagemap.template)
        label.custom-control-label(for="imagemap_template") Imagemap is a Template

.form-group
    label.control-label(for="imagemap_description") Description
    textarea.form-control(name="imagemap[description]",id="imagemap_description",rows=3)
        = imagemap.description

.form-group
    label.control-label(for="imagemap_map") Map
    .list-group#imagemap_map

        - let i = 0;
        each area in imagemap.map
            +area(area, i, rooms)
            - i++;
        +area({}, 'new', rooms)

    .col.text-right.mt-2
        button.btn.btn-outline-success#add-area-btn
            i.fa.fa-plus
            |  Add Area

.form-group
    button.btn.btn-primary(type="submit")= imagemap.id?'Update':'Create'
    a.btn.btn-link(href="/imagemap") Cancel


+action({}, 'new', 'new', rooms)


