extends ../layout

include ../partials/imagemap

block content
    h2 Imagemap #{imagemap.name}

    a.btn.btn-outline-primary.mr-2(role="button" href='/imagemap/' + imagemap.id + '/edit')
        i.fas.fa-edit
        |  Edit Imagemap
    a.btn.btn-outline-danger.mx-2#delete-imagemap-btn(role="button", href='/imagemap/' + imagemap.id + '/delete')
        i.fas.fa-trash
        |  Delete Imagemap

    .row.my-2
        .col.text-center
            +imagemap(imagemap)
    .row.my-2
        label.col-sm-2.col-form-label(for="code-display") Code
        .col-sm-6
            input.form-control#code-display(type="text")

append scripts
    script(src='/javascripts/imagemap.js')
