extends layout

block content
    h1= title
    .lead Welcome to #{title}.
    p.my-2 Please enter a room code.

    .row.my-3
        .col
            form#code-form
                input.form-control.code-search(type="search", placeholder="Code", id="code-entry")
                .invalid-feedback#code-feedback


append scripts
    script(src='/javascripts/samsara.js')
