extends layout

block content
    .row.my-2
        .col#game-content
    .row.my-2
        .col-md-8.offset-md-2.p-3.border.rounded-lg.border-info#game-text


append scripts
    script(src='/javascripts/game.js')
    script(src='/javascripts/templates/page.js')
