extends layout

block content
    d-flex.flex-column.h-100
        .gamestate-container.d-flex.flex-column.container#gamestate-container
            .row.my-2.h-100
                .col.px-0#game-content
            .row.my-2
                .col-md-8.offset-md-2.p-3.border.rounded-lg.border-info#game-text
        .resizer.d-none#video-adjust(data-direction="vertical")
        .video-container.p-2.d-none#video-container




    .modal.fade#popupModal(role="dialog" tabindex="-1" aria-labelledby="popupModalLabel" aria-hidden="true")
        .modal-dialog.modal-lg.modal-dialog-centered(role="document")
            .modal-content
                .modal-header
                    h5.modal-title
                    button.close#dismissPopupModal(type="button", data-dismiss="modal" area-label="Close")
                        span(aria-hidden="true") &times;
                .modal-body
                .modal-footer
                    button.btn.btn-secondary(type="button", data-dismiss="modal") Close


append scripts
    script(src='/javascripts/templates/page.js')
    script(src='/javascripts/templates/toast.js')
    script(src='/javascripts/templates/popup.js')
