body {
  padding-top: 6rem;
}
body, .popover {
    font-family: 'Lato', sans-serif;
}

.lead, h1, h2, h3, h4, h5, .blockquote, .navbar{
    font-family:  'Montserrat', sans-serif;
}


table.dataTable.dtr-inline.collapsed.table-sm>tbody>tr>td:first-child:before,
table.dataTable.dtr-inline.collapsed.table-sm>tbody>tr>th:first-child:before
{
    top:14px;
}

.select2-results__option--disabled, .select2-selection__placeholder{
    color: #999;
}

.select2-results__option--selectable, .select2-selection__rendered{
    color: #444;
}

.badge-gamestate{
    font-size: .9rem;
}

map, image {
    outline: none;
}

[aria-expanded="true"] .fa-chevron-up,
[aria-expanded="false"] .fa-chevron-down,
[aria-expanded="true"] .expand-text {
    display:none;
}
