body {
/*padding-top: 6rem;*/
}
body, .popover {
    font-family: 'Lato', sans-serif;
}

.lead, h1, h2, h3, h4, h5, .blockquote, .navbar{
    font-family:  'Montserrat', sans-serif;
}

#main-content {
    margin-top:75px;
}

table.dataTable.dtr-inline.collapsed.table-sm>tbody>tr>td:first-child:before,
table.dataTable.dtr-inline.collapsed.table-sm>tbody>tr>th:first-child:before
{
    top:14px;
}

.select2-results__option--disabled, .select2-selection__placeholder{
    color: #999;
}

.select2-results__option--selectable, .select2-selection__rendered{
    color: #444;
}

.badge-gamestate{
    font-size: .9rem;
}

map, image {
    outline: none;
}

[aria-expanded="true"] .fa-chevron-up,
[aria-expanded="false"] .fa-chevron-down,
[aria-expanded="true"] .expand-text,
[aria-expanded="false"] .expand-text-shown {
    display:none;
}

.CodeMirror {
    /* Bootstrap Settings */
    box-sizing: border-box;
    margin: 0;
    font: inherit;
    overflow: auto;
    font-family: inherit;
    display: block;
    width: 100%;
    padding: 6px 6px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    /* Code Mirror Settings */
    font-family: monospace;
    position: relative;
    overflow: hidden;
}

.CodeMirror-focused {
    /* Bootstrap Settings */
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(115,154,194, .6);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.input-group > .select2-container--bootstrap {
    width: auto;
    flex: 1 1 auto;
}

.input-group > .select2-container--bootstrap .select2-selection--single {
    height: 100%;
    line-height: inherit;
    padding: 0.5rem 1rem;
}

#chat-sidebar{
    min-width: 360px;
    max-width: 360px;
    transition: all 0.3s;
    display: none;
}

#chat-sidebar.hidden{
    min-width: 0px;
    max-width: 0px;
}
@media (max-width: 768px) {
    #chat-sidebar {
        min-width: 100vw;
        max-width: 100vw;
    }
}

#chat-show {
    position:fixed;
    right: 0;
    top:0;
    margin-top:70px;
    z-index: 999;
    float: right;
    font-size: 1.40625rem;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-shadow: none;
    padding: 0;
    background-color: transparent;
    border: 0;
}
#show-chat-chevron{
    opacity: 0.4
}
#show-chat-chevron:hover{
    opacity: 0.75
}


#chat-pane {
    min-width: inherit;
    max-width: inherit;
    right: 0;
    top:0;
    z-index: 999;
    padding-top:70px;
}

#chat-standalone {
    min-width: inherit;
    max-width: inherit;
    min-height:200px;
    height: calc(100vh - 200px);
    z-index: 999;
}


.chat-container {
    height: 0px;
}

#chat-actions{
    bottom: 0;
    min-width: inherit;
    max-width: inherit;
}
.chat-date-change{
    font-size: .9rem;
    display:flex;
    flex-direction: row
}
.chat-date-change:before,
.chat-date-change:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px dashed #585858;
    margin: auto 15px;
}

.chat-message,
.chat-event,
.chat-report {
    font-size: .8rem;
    z-index:0;
    margin: 0 2px;
    position: relative;
}
.chat-message:hover,
.chat-report:hover{
    background-color:#2c2c2c;
}
.message-selected{
    background-color:#404040;
}
.message-selected:hover{
    background-color:#292929;
}
.chat-staff-message{
    color: #00bc8c;
}
.chat-message-location{
    font-size:100%;
}

.notransition {
    -o-transition: none !important;
    -ms-transition: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    transition: none !important;
}
#chat-tabs.nav-tabs > li > a{
    font-size: .8rem;
    padding: .4rem .6rem;
}
.chat-message.first-new{
    border-top: 1px solid crimson;
    margin-top: 0.2rem;
}

.chat-message.first-new:after{
    content:'NEW';
    font-size: .55rem;
    position:absolute;
    white-space: pre;
    background-color: crimson;
    color: white;
    right: 8px;
    top:-8px;
    padding: 1px 6px;
    border-radius: 8px;
    z-index:5;
    font-weight: bolder;
}
.message-text.hidden{
    font-style: italic;
}
.message-text.hidden:hover{
    cursor: pointer;
}

.chat-event{
    text-align:center;

}
.message-event-text{
    font-size:0.9rem;
    font-style: italic;
}

.table-responsive{
    margin-top:10px;
}
.chat-users::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
}

.chat-users::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
.gamestate-container{
    overflow: hidden;
    height:100%;
}
.video-container{
    max-width: 100%;
    overflow: hidden;
}

img {
  object-fit: contain;
}
.map{
    min-width:0;
    min-height:0;
}

.resizer[data-direction="horizontal"] {
    cursor: ew-resize;
    height: 100%;
    margin-left:5px;
    margin-right: :5px;
    width: 2px;
}
.resizer[data-direction="vertical"] {
    cursor: ns-resize;
    height: 2px;
    width: 100%;
}
