body {
  padding: 5rem;
}
body, .popover {
    font-family: 'Lato', sans-serif;
}

.lead, h1, h2, h3, h4, h5, .blockquote, .navbar{
    font-family:  'Montserrat', sans-serif;
}

a {
  color: #00B7FF;
}

.code-search{
  -webkit-border-radius: 16px;
     -moz-border-radius: 16px;
          border-radius: 16px;
}
