body {
  padding-top: 6rem;
}
body, .popover {
    font-family: 'Lato', sans-serif;
}

.lead, h1, h2, h3, h4, h5, .blockquote, .navbar{
    font-family:  'Montserrat', sans-serif;
}


table.dataTable.dtr-inline.collapsed.table-sm>tbody>tr>td:first-child:before,
table.dataTable.dtr-inline.collapsed.table-sm>tbody>tr>th:first-child:before
{
    top:14px;
}

.select2-results__option--disabled, .select2-selection__placeholder{
    color: #999;
}

.select2-results__option--selectable, .select2-selection__rendered{
    color: #444;
}

.badge-gamestate{
    font-size: .9rem;
}

map, image {
    outline: none;
}

[aria-expanded="true"] .fa-chevron-up,
[aria-expanded="false"] .fa-chevron-down,
[aria-expanded="true"] .expand-text,
[aria-expanded="false"] .expand-text-shown {
    display:none;
}

.CodeMirror {
    /* Bootstrap Settings */
    box-sizing: border-box;
    margin: 0;
    font: inherit;
    overflow: auto;
    font-family: inherit;
    display: block;
    width: 100%;
    padding: 6px 6px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    /* Code Mirror Settings */
    font-family: monospace;
    position: relative;
    overflow: hidden;
}

.CodeMirror-focused {
    /* Bootstrap Settings */
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(115,154,194, .6);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
