extends ../layout
include ../partials/chat

block content
    input#chat-history-limit(type='hidden' value=1000)
    .card.d-flex.flex-column.h-100flex-grow-1#chat-standalone
        +chatStandalone()

