extends ../layout

block content
    .row
        .col.alert.alert-secondary Drag and drop the nodes to get a better view.

    .row
        .col.w-100.bg-white#graphContainer(style='height:80vh')

append scripts
    script(src="/javascripts/bundles/graph.js")
