include ../partials/gameactions

.form-group
    label.control-label(for="code_code") Code
    input.form-control(type="text",placeholder="Code",name="code[code]",value=code.code,id='code_code',required)
    div.invalid-feedback Please choose a valid code

.form-group
    label.control-label(for="code_description") Description
    textarea.form-control#code_description(name="code[description]",rows=3)
        = code.description

.form-group#map-group
    label.control-label.w-100#actions-heading(for="code_actions", data-toggle="collapse" data-target="#actions-container" aria-expanded="true") Actions
        .badge.badge-info.ml-1 #{code.actions.length} #{code.actions.length === 1?'item':'items'}
        button.btn.btn-sm.btn-outline-success.add-action-btn.expand-text-shown.ml-2(data-toggle="tooltip" title='Add Action' data-target='#code-actions' data-area=0)
                i.fa.fa-plus.mr-2
                | Add Action

        i.expand-text-shown.ml-4 (click to hide configuration)
        i.expand-text.ml-4 (click to show configuration)


        span.float-right.pl-2
            i.fa.fa-chevron-up
            i.fa.fa-chevron-down


    .div#actions-container.collapse.show(aria-labelledby="actions-heading")
        .list-group#code_actions
            .list-group-item.area-config(id=`code-actions`)
                - let actionId = 0;
                each action in code.actions
                    +action('code', 'code', action, 0, actionId)
                    - actionId++


.form-group
    button.btn.btn-primary(type="submit")= code.id?'Update':'Create'
    a.btn.btn-link(href="/code") Cancel

+action('code', 'code', {}, 'new', 'new')
+jsEditorModal()
