extends ../layout

block content
    .row
        .col
            .card
                .card-header New Code
                .card-body
                    form.form.needs-validation(method="POST" action="/code" novalidate)
                        input(type="hidden", name='_csrf',value=csrfToken)
                        include ./_form.pug

append scripts
    script(src='/javascripts/validator.js')
    script(src='/javascripts/gameactions.js')
    script(src='/javascripts/code.js')
