.form-group
    label.control-label(for="player_group_name") Name
    input.form-control(type="text",placeholder="Name",name="player_group[name]",value=player_group.name,id='player_group_name',required)
    div.invalid-feedback Please choose a valid name

.form-group
    label.control-label(for="player_group_description") Description
    textarea.form-control(name="player_group[description]",id="player_group_description",rows=3)
        = player_group.description

.form-group
    button.btn.btn-primary(type="submit")= player_group.id?'Update':'Create'
    a.btn.btn-link(href="/player_group") Cancel


