extends ../layout

block content
    .row
        .col
            .card
                .card-header= 'Edit Gamestate: ' + gamestate.name
                .card-body
                    form.form.needs-validation(method="POST" action="/gamestate/" + gamestate.id novalidate)
                        input(type="hidden", name="_method",  value="PUT")
                        input(type="hidden", name='_csrf',value=csrfToken)
                        input(type="hidden", name='gamestate[id]',value=gamestate.id)
                        include ./_form.pug

append scripts
    script(src='/javascripts/validator.js')
    script(src='/javascripts/imagemap.js')
    script(src='/javascripts/gamestate.js')
