.form-group
    label.control-label(for="run_name") Name
    input.form-control(type="text",placeholder="Name",name="run[name]",value=run.name,id='run_name',required)
    div.invalid-feedback Please choose a valid name

.form-group
    .custom-control.custom-switch
        input.custom-control-input(type="checkbox", name="run[current]", id="run_current", checked=run.current disabled=run.current)
        label.custom-control-label(for="run_current") Current

.form-group
    label.control-label(for="run_data") Custom Data
    +jsonEditor('run_data', 'run[data]', 6, 300, run.data)

.form-group
    button.btn.btn-primary(type="submit")= run.id?'Update':'Create'
    a.btn.btn-link(href="/run") Cancel


