extends ../layout

include ../partials/players
include ../partials/triggerButton

block content
    +players(users)

append scripts
    script(src='/javascripts/player.js')
    script(src='/javascripts/data-table.js')
